{% extends "base.html" %} {% block title %} Hello My Friend {% endblock title %}
{% block content %}
<section class="mx-12, my-20">
    <div class="">
        <h1 class="">Welcome</h1>
        <h2 class="">Yo mama</h2>
        <p>Yo mama is so fat, when she jumps the world shakes</p>
    </div>
</section>
<section class="mx-12, my-20">
    <div class="">
        <h1 class="">Welcome</h1>
        <h2 class="">Yo mama</h2>
        <p>Yo mama is so fat, when she jumps the world shakes</p>
    </div>
</section>
<section class="mx-12, my-20">
    <div class="">
        <h1 class="">Welcome</h1>
        <h2 class="">Yo mama</h2>
        <p>Yo mama is so fat, when she jumps the world shakes</p>
    </div>
</section>
<section class="mx-12, my-20">
    <div class="">
        <h1 class="">Welcome</h1>
        <h2 class="">Yo mama</h2>
        <p>Yo mama is so fat, when she jumps the world shakes</p>
    </div>
</section>
<section class="mx-12, my-20">
    <div class="">
        <h1 class="">Welcome</h1>
        <h2 class="">Yo mama</h2>
        <p>Yo mama is so fat, when she jumps the world shakes</p>
    </div>
</section>
<section class="mx-12, my-20">
    <div class="">
        <h1 class="">Welcome</h1>
        <h2 class="">Yo mama</h2>
        <p>Yo mama is so fat, when she jumps the world shakes</p>
    </div>
</section>
{% endblock content %}