<nav class="fixed top-0 w-full flex-row flex justify-center px-2 py-5">
  <div
    class="rounded-full bg-white/30 border-white/20 border relative flex flex-row justify-between items-center w-10/12 gap-8 z-10"
  >
    <ul class="">
      <li>学校法人</li>
      <li><strong>日本工業大学</strong></li>
    </ul>
    <ul class="flex flex-row align-middle gap-4">
      <li class="gap__sm">
        <strong><a href="#hero">Home</a></strong>
      </li>
      <li><a href="#about">About Us</a></li>
      <li class="hidden">
        <a href="#campuses">学園案内</a>
        <ul dir="rtl" class="dropdown-content">
          <li><a href="#miyashiro">宮代キャンパス</a></li>
          <li><a href="#komaba">駒場キャンパス</a></li>
          <li><a href="#kanda">神田キャンパス</a></li>
        </ul>
      </li>
      <li><a href="#news">News</a></li>
      <li><a href="#facilities">Facilities</a></li>
    </ul>
  </div>
  <!-- <div class="w-full h-full absolute top-0 z-1 backdrop-blur-xl bg-white/5 blur-lg"></div> -->
  <!-- <div class="nav-gradient-blur"></div> -->
</nav>
